alembic
aniso8601
anyio
appdirs
atomicwrites
bcrypt
bidict
black
chardet
config
dataclasses-json
deep-translator
dnspython
dotenv
ecdsa
email-validator
ezdxf
faiss-cpu
Faker
fastapi
flake8
Flask
Flask-Cors
Flask-JWT-Extended
Flask-Login
Flask-Mail
Flask-Migrate
Flask-RESTful
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
fpdf
gevent
gevent-websocket
git-filter-repo
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-speech
google-generativeai
googleapis-common-protos
googletrans
greenlet
groq
grpcio
grpcio-status
gunicorn
h11
h2
halo
hpack
hstspreload
httpcore
httplib2
httpx
httpx-sse
hyperframe
idna
jiter
jwt
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain-text-splitters
langdetect
langsmith
log-symbols
lxml
Mako
marshmallow
matplotlib
mkl-service
numpy
openai
opencv-python-headless
openpyxl
orjson
passlib
Pillow
proto-plus
protobuf
psycopg2-binary
pyasn1-modules
pydantic
pydantic-settings
pydantic_core
pyflakes
PyJWT
pyls-spyder
PyMuPDF
PyMuPDFb
PyPDF2
PyQt5
PyQtWebEngine
pytest
python-dateutil
python-docx
python-dotenv
python-engineio
python-jose
python-multipart
python-socketio
pywin32; sys_platform == 'win32'
qrcode
redis
reportlab
requests
rfc3986
rsa
safetensors
sentence-transformers
services
setuptools
simple-websocket
spinners
SQLAlchemy
starlette
sympy
termcolor
tiktoken
tokenizers
torch
transformers
types-pyasn1
types-python-jose
typing-inspect
typing-inspection
typing_extensions
uritemplate
uvicorn
wasabi
Werkzeug
wheel
wsproto
WTForms
zope.event
